<div class="container-fluid cont-articles">
  {{#each articles}}
  <div class="card my-3">
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="{{image}}" class="card-img" alt="...">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5><a class="card-title" target="_blank" href="{{link}}">{{title}}</a></h5>
          <p class="card-text">{{summary}}</p>
          <button class="btn btn-danger btn-remove" data-id="{{_id}}">Remove From Saved</button>
          <button class="btn btn-warning btn-note" data-id="{{_id}}">Add Note</button>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>